/*--
Author: F. Almeida-Fernandes
Author URL: falmeidafernandes.github.io
--*/

/*-- Reset Code --*/

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: transparent;
  background: url(../images/bg2.jpg) no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-attachment: fixed;
  transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-style: preserve-3d;
}

.body-wrapper {
  max-width: 1200px;
}

p {
  margin: 0px;
}
h1 {
  margin: 0px;
}
h2 {
  margin: 0px;
}
h3 {
  margin: 0px;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.header{
  background-color: transparent;
  background-image: url('../images/fundobanner.png');
  background-size: cover;  
  background-repeat: no-repeat; 
  background-position: center center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.header-left{
  background-image: url('');
  background-size: contain;  
  display: inline-block;
  background-repeat: no-repeat; 
  background-position: center center;
}

.header-logo{
  margin: 20px 0px;
  padding-top: 15%;
  width: 100%;
  background-image: url('../images/bannerastrocrop.png');
  background-size: contain;  
  background-repeat: no-repeat; 
  background-position: center center;
}

.subscribe-wrapper{
  padding-top: 10%;
}

.subscribe{
  margin: auto;
  display: block;
}

.search{
  width: 90%;
  margin: 10px auto;
}

.main{
display: flex;
}

.navigation-wrapper {
  padding: 0px !important;
}

.navigation {
  padding: 0px !important;
  background: rgba(0,0,0,0.9);
}

.navigation h1{
  color: #888;
  font-size: 2em;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: 1px solid #666;
  width: 80%;
  margin: 40px 10% 30px 10%;
}

.fa-min{
  padding: 10px 0;
  line-height: 1em !important;
  width: 20%;
  font-size: 2em !important;
  text-align: center;
  text-decoration: none;
  margin-right: -4px !important;
  display: inline-block;
  color: white;
}

.fa-min:hover{
  color: #fff;
  text-decoration: none;
}

.fa-social {
  padding: 10px;
  width: 60%;
  text-align: center;
  text-decoration: none;
  margin: 0px 20% 30px 20%;
  display: inline-block;
  color: white;
  font-size: 3em !important;
  border-left: 20px solid;
}

.fa-social:hover {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
	  -webkit-transition: all 0.5s;
	  -moz-transition: all 0.5s;
}

.fa-youtube {
  border-color: #bb0000;
  background: rgba(160, 0, 0, 0.3);
}

.fa-youtube:hover {
  background: #bb0000;
  opacity: 1;
}

.fa-facebook {
  border-color: #3B5998;
  background: rgba(59, 89, 152, 0.3);
}

.fa-facebook:hover {
  background: #3B5998;
}

.fa-twitter {
  border-color: #55ACEE;
  background: rgba(85, 172, 238, 0.3);
}

.fa-twitter:hover {
  background: #55ACEE;
}

.fa-instagram {
  border-left-color: #FFAA00;
  border-right-color: #9922AA;
  background-image: linear-gradient(to top right, rgba(255,250,0,0.3), rgba(230,70,60,0.3), rgba(100,0,200,0.3));
}

.fa-instagram:hover {
  background-image: linear-gradient(to top right, rgba(255,250,0,1), rgba(230,70,60,1), rgba(100,0,200,1));
}

.fa-whatsapp {
  border-color: #25D366;
  background: rgba(40, 220, 130, 0.3);
}

.fa-whatsapp:hover {
  background: #25D366;
}

.fa-SAB {
  border-color: #048;
  font-size: 1.6em !important;
  background: rgba(0, 75, 150, 0.3);
}

.fa-SAB:hover {
  background: #048;
}

.fa-cafe-ciencia {
  border-color: #888;
  font-size: 1.6em !important;
  background: rgba(150, 150, 150, 0.3);
}

.fa-cafe-ciencia:hover {
  background: #888;
}

.fa-space-today {
  border-color: #66D;
  font-size: 1.6em !important;
  background: rgba(100, 100, 220, 0.3);
}

.fa-space-today:hover {
  background: #66D;
}

.content{
  padding: 0px !important;
}

.content_alt{
  background-color: rgba(0,0,0,0.9);
}
  
.content h1{
  font-family: 'Nunito', sans-serif;
  margin: 0.5em 0.5em 0.2em 0.5em;
  padding-bottom: 0.3em;
}

.content_alt img{
  width: 100%;
}

.content_alt h1{
  padding: 20px;
}

.content_alt p{
  padding: 10px 20px;
  text-align: justify;
}

.content-background{
  background-color: #fff;
  padding-bottom: 40px;
}
.navbar-custom {
    background-color:#111;
    color:#aaa;
    border-radius:0;
}

.navbar-custom a{
  color: #fff;
  font-size: 1.2em;
  line-height: 3em;
}

.navbar-collapse{
  padding: 0;
}

.nav>li>a:hover{
  background-color: #222;
}

.nav>li>a:visited{
  background-color: #111;
}

.navc1>a:hover{color: #4aF;}
.navc2>a:hover{color: #Fa4;}
.navc3>a:hover{color: #aF4;}
.navc4>a:hover{color: #F4a;}
.navc5>a:hover{color: #4Fa;}
.navc6>a:hover{color: #a4F;}
.navc7>a:hover{color: #aaa;}

.navbar-collapse ul{
  padding: 0;
}
.navbar-collapse li{
  border-bottom: 1px #222 solid;
  margin: 0px !important;
}

.nav-txt{
  margin: 0 10px;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#222;
}

.carousel-indicators{
  top: 20px;
  position: absolute;
}
.carousel-caption{
  bottom: 0px;
  left: 40px;
  color: #FFF;
  width: 90%;
  text-align: left;
}

.carousel-caption h3{
  font-size: 4em;
  text-shadow: 2px 2px #000;
}

.carousel-caption p{
  font-size: 2em;
  text-shadow: 2px 2px #000;
}
.videos{
  margin: 0px;
  padding: 1em 0% 0 0%;
  background: #FFF;
}

.videos-grid {
  margin-bottom: 0px;
	padding: 0 1em;
}
.videos-grid-img{
	position:relative;
}
.videos-grid-img iframe{
  width: 100%;
  height: 642px;
}
.videos-grid-img a{
	display:block;
}
.videos-grid a img{
	width:100%;
}

.videos-grid-img h4{
margin: 0.5em 0 0 0.2em;
font-size: 1.2em;
position: absolute;
color: #eee;
text-shadow: 1px 1px #000;
bottom: 0px;
right: 0px;
background-color: rgba(0, 0, 0, 0.8);
padding: 3px;
}

.videos-grid-info{
  padding-left: 0.2em;
  padding-top: 0.8em;
  text-align: left;
}

.videos-grid-info a{
    color: #222;
    display: inline-block;
    font-size: 0.8em;
    line-height: 1.2em;
    font-weight: bold;
}

.videos-grid-info a:hover{
    text-decoration: none;
    color: #000;}

.videos-grid-main{
}

.noticias{
  margin: 0px;
  padding: 1em 0%;
  background: #FFF;
}

.noticias-principais{
  padding: 0px;
  padding-left: 15px;
}

.noticia{
  padding: 15px 0px 10px 0px;
  margin-right: 30px;
  display: inline-block;
  border-top: solid 1px #ccc;
}

.noticia-primeira{
  border-top: solid 0px !important;
  padding: 0px 0px 10px 0px !important;
}

.noticia h2{
  font-size: 1.5em;
  margin: 0px;
}

.noticia-img{
  padding: 0px;
  display: inline-block;
  margin-right: 0px;
}

.noticia-img img{
  width: 100%; 
  margin: 0;
  }

.noticia a{
    color: #A00;
    font-family: "Arial";
    font-weight: bold;
}

.noticia a:hover{
    color: #F40;
    text-decoration: none;
}

.noticia h4{
  font-size: 1.2em;
  margin: 0px; 
  color: #200;
}

.noticias-secundarias{
  display: inline-block;
  border-left: solid 1px #ccc;
}

.noticia-secundaria{
  margin: 0;
  border-top: solid 1px #ccc;
  padding: 20px 0px 20px 0px;
  display: inline-block;
}

.noticia-secundaria-primeira{
  border-top: 0px
}

.noticia-secundaria-terceira{
}

.noticia-secundaria h2{
  font-size: 1.3em;
}

.noticia-secundaria a{
    color: #14007e;
    font-family: "Arial";
    font-weight: bold;
}

.noticia-secundaria a:hover{
    color: #2b00ff;
    text-decoration: none;
}

.recommended {
  margin: 0px;
  padding: 0 10px 20px 10px;
    background: #FFF;
}
.recommended-grid {
  margin-bottom: 0px;
	padding: 2px 10px;
}

.recommended-grid-info{
  padding-left: 0.2em;
  margin-bottom: 40px;
}


.recommended-grid-info a{
    color: #222;
    font-size: 0.7em;
    font-weight: bold;
    line-height: 1.2em;
}

.recommended-grid-info a:hover{
    color: #222;
    text-decoration: none;
}


.playlists{
  padding: 20px 0;
  background-color: rgba(255,255,255,0.7);
/*  background: url(../images/playlist-bg.jpg) no-repeat 0px 0px;*/
/*  background-size: cover;*/
/*  -webkit-background-size: cover;*/
/*  -moz-background-size: cover;*/
/*  -o-background-size: cover;*/
/*  -ms-background-size: cover;*/
  margin: 0 !important;
}

.playlists, .personnel h1{
  text-align: center;
  color: #222;
}

.accordian {
	width: 90%;
	overflow: hidden;
	
	/*Time for some styling*/
	margin: 10px auto;
	margin-bottom: 20px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 1400px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 12%;
	float: left;
	border-left: 1px solid #888;
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 6.5%;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 35%;}


.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
width: 640px;	

}
.image_title a {
	display: block;
	color: #fff;
	text-align: left;
	font-weight: bold;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}

.personnel{
	padding:0 0;
	margin: 0 !important;
	background:#eee;
}
.teamw3-agileinfo{
	margin:0;
}

.btm-right {
	overflow: hidden;
	position: relative;
	display: block;
	margin-bottom: 20px;
}
.btm-right img{
	width: 100%;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.btm-right:hover img{
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}
.btm-right .captn {
    color: #fff;
    background-color: #222;
    text-align: center;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding:1.3em 0;
    border-bottom: 5px solid #222;
}
.captn{
text-decoration: none;
}
.captn h4 {
    font-size: 1.2em;
    color: #fff;
    margin: 0;
}
.captn h5 {
    font-size: 1.1em;
    color: #ddd;
    margin: 0;
}
.captn-icon {
    background: rgba(2, 2, 2, 0.65);
	width: 30%;
    position: absolute;
    top: 10%;
    left: 0;
    text-align: center;
    padding: 0.5em 0;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
} 
.captn-icon ul {
	margin:0;
	padding:0;
}
.captn-icon ul li { 
    margin: 0.5em;
	display: block;
}
.captn-icon ul li a i.fa{
	height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
    background: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.btm-right:hover .captn {
    background: #f4511e;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-bottom-color: #f4511e;
}
.captn-icon ul li a i.fa.fa-facebook:hover {
    border: solid 1px #3b5998;
    background: #3b5998;
    color: #FFFFFF;
}
.captn-icon ul li a i.fa.fa-twitter:hover {
    border: solid 1px #55acee;
    background: #55acee;
    color: #FFFFFF;
}
.captn-icon ul li a i.fa.fa-google-plus:hover {
    border: solid 1px #f26522;
    background: #f26522;
    color: #FFFFFF;
}
.captn-icon ul li a i.fa.fa-envelope:hover {
    border: solid 1px #f64532;
    background: #f63522;
    color: #FFFFFF;
}

.personnel2{
  margin: 0;
  padding: 0;
}
.personnel2 img{
  width: 100%;
  padding: 0;
  margin: 0;
}

.button-mais {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 5px 20px;
  width: 25%;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 73%;
  margin-bottom: 20px;
}

.button-mais span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-mais span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-mais:hover span {
  padding-right: 25px;
}

.button-mais:hover span:after {
  opacity: 1;
  right: 0;
}

.side-widget{
  width: 70%;
  margin: 20px auto 40px auto;
  padding: 0;
}

.side-widget-content{
  min-height: 50px;
}

.side-widger:hover h3{
  background: #111 !important;
}

.side-widget-title h3{
  color: #eee;
  font-size: 1.4em;
  line-height: 2em;
  text-align: center;
  margin-left: 0px; 
  background: rgba(15, 15, 15, 0.5);
  border-left: 10px solid;
  border-right: 10px solid;
  border-color: #111;
}

.side-widget-title a:hover{
  text-decoration: none;
}

.side-widget-title h3:hover{
  color: #eee;
  background: #111;
}

.side-widget-green{
  border-color: #0a0;
}

.side-widget-title-green h3{
  background: #0a0;
}

.side-widget-content-green{
  border-color: #0a0;
}

.side-widget-content-blue{
  border-color: #0aa;
}

.side-widget-title-blue h3{
  background: #0aa;
  
}

.contact {
background-color: rgba(0,0,0,0.9);
padding-top: 0px;
margin: 0;
}

.contact_alt{
background-color: rgba(0,0,0,0) !important;
}

.contact h1{
  text-align: center;
  color: #eee;
}

h3.agile-contact{
    text-align: center;
    color: var(--main-color);
    padding-top: 30px;
    font-size: 3em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h3.agile-contact {
    color: #092;
}

.contact-agile{
    margin-top: 1em;
}
.contact-left-agile {
    float: left;
    width: 50%;
	padding-left: 14em;
}
.contact-right-w3l {
    float: right;
    width: 50%;
}
input[type="text"], input[type="email"], .contact-right-w3l textarea{
    width: 80%;
    padding: 10px;
    outline: none;
    font-size: 14px;
    color: #fff;
    margin: 12px 0px;
	font-family: 'Nunito', sans-serif;
    border: none;
    border-bottom: 1px solid #aaa;
	background: transparent;
}
input[type="submit"] {
    padding: 12px 0px;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: var(--main-color);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 1em auto;
    width: 26%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
input[type="submit"]:hover {
	background:#000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
.right-w3l {
    float: left;
    width: 50%;
}
.right-w3l2 {
    float: right;
    width: 50%;
}
.contact-left-agile{
  min-height: 479px;
}
.contact-form {
    padding: 1em 0em;
	text-align: center;
}
.contact-left-agile h4{
	font-size: 1.8em;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
	margin-top: 1.5em;
}
.contact-left-agile p {
    font-size: 1em;
    color: #ccc;
    letter-spacing: 1px;
    margin: 1em 0em 2em;
	line-height: 1.9em;
}
.add-w3ls-main span {
    float: left;
}
.add-w3ls2 {
    float: right;
    width: 85%;
	margin: 9px 0px;
}
.add-w3ls-main span {
    color: #fff;
    font-size: 1.4em;
    border: 1px solid #fff;
    padding: 16px;
    border-radius: 50%;
    margin: 14px 0px;
}
.add-w3ls2 h5 {
    font-size: 1.5em;
    color: #e2e1e1;
    letter-spacing: 1px;
    margin: 12px 0px;
}
.add-w3ls2 p {
    font-size: 1em;
    color: #ccc;
	margin:0;
	line-height: 1em;
}
.add-w3ls2 p a {
    color: #ccc !important;
}
.add-w3ls2 p a:hover {
    color: #fff !important;
}
textarea {
    min-height: 150px;
}

.contact-left-agile {
	padding-left: 3em;
}

h3.agile-contact {
	padding-top: 10px;
}

.contact-left-agile p {
	margin: 1em 0em 1em;
}
.contact-left-agile {
	min-height: 450px;
}
	
/*-- copyright-starts-here --*/
.copy-section {
    padding: 2em 0;
    margin: 0px;
    width: 100%;
    margin: 0px;
    background: #000;
    text-align: center;
    border-top: 1px dashed #fff;
}
.copy-section p {
    font-size: 1em;
    color: #fff;
    letter-spacing: 2px;
}
.copy-section a {
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
}
/*-- //copyright-ends-here --*/

/*-- responsive-starts-here --*/

@media(max-width: 1200px){
	h3.agile-contacT {
		font-size: 2.7em;
		letter-spacing: 1px;
	}

.accordian li {width: 10.5%;}
.accordian ul:hover li {width: 4%;}
.accordian ul li:hover {width: 35%;}

}

@media(max-width: 992px){

.accordian li {width: 8%;}
.accordian ul:hover li {width: 5%;}
.accordian ul li:hover {width: 20%;}

.carousel-caption h3{
  font-size: 3em;
}
.carousel-caption p{
  font-size: 1.8em;
}

.noticias-secundarias{
  border-left: 0px;
}

.noticia{
  padding: 15px 0px 10px 0px;
  width: 98%;
  border-top: solid 0px #ccc;
  border-bottom: solid 1px #ccc;
}

.noticia-img{
  margin-right: 10px;
}

.noticia-secundaria-terceira{
  border-top: 0px
}

.videos-grid-main a{
  font-size: 1.4em;
  padding-bottom: 1em;
}

.button-mais {
  font-size: 25px;
  width: 40%;
  margin-left: 55%;
}

h3.agile-contact {
	font-size: 2.5em;
	letter-spacing: 0px;
}

.contact-agile {
	margin-top: 1em;
}
.contact-left-agile {
	float: left;
	width: 100%;
}
.contact-right-w3l {
	float: right;
	width: 100%;
}
.contact-left-agile {
	padding-left: 6em;
}

.contact-left-agile {
	min-height: 426px;
}

.header{
  margin-top: 0em;
  margin-bottom: 0em;
}

.subscribe-wrapper{
  padding-top: 5%;
  margin-bottom: 30px;
}

.search{
  width: 80%;
  margin: 5px auto;
}

}

@media(max-width: 840px){

.videos-grid-main a{
  font-size: 1.2em;
  padding-bottom: 1em;
}

}

@media(max-width: 768px){

.accordian li {width: 6%;}
.accordian ul:hover li {width: 3%;}
.accordian ul li:hover {width: 20%;}

body {
  background: #fff;
}

.main{
display: block;
}

.header-logo{
  margin: 10px 0px 0 0px;
}
  
.carousel-caption{
  bottom: 0px;
  left: 25px;
  width: 85%;
}

.carousel-caption h3{
  font-size: 2.2em;
}
.carousel-caption p{
  font-size: 1.6em;
}

.videos{
  padding-left: 2%;
  padding-right: 2%;
}

.videos-grid-info a{
  font-size: 0.8em;
  padding-bottom: 1em;
}

.videos-grid-main a{
  font-size: 1.2em;
  padding-bottom: 1em;
}

.button-mais {
  font-size: 20px;
  width: 55%;
  margin-left: 22.5%;
}

h3.agile-contact {
	font-size: 2.1em;
}
.contact-agile {
	margin-top: 2em;
}
.contact-left-agile h4 {
	font-size: 1.4em;
	margin-top: 1.2em;
}
.contact-left-agile {
	padding-left: 1em;
}
.contact-left-agile {
	min-height: 382px;
}

.copy-section p {
	letter-spacing: 1px;
}
}

@media(max-width: 480px){

.accordian li {width: 3%;}
.accordian ul:hover li {width: 3%;}
.accordian ul li:hover {width: 12%;}

.content h1{
  font-size: 2.2em;
}

.slider{
  visibility: hidden;
  height: 0px;
}

.carousel-caption{
  bottom: -5px;
  left: 15px;
  width: 80%;
}

.subscribe-wrapper{
  margin-top: 10px;
  margin-bottom: 15px;
}

.carousel-caption h3{
  font-size: 2.2em;
  text-shadow: 1px 1px #000;
}
.carousel-caption p{
  font-size: 1.5em;
  text-shadow: 1px 1px #000;
}

  .noticia-img{
    width: 100%;
    margin-bottom: 10px;
  }
  
  .noticias-secundarias-wrapper{
    width: 100%;
    display: inline-block;
  }
  
  .noticia-secundaria-terceira{
    border-top: solid 1px #ccc;
  }
  
  .noticia a{
    font-size: 1em;
  }
  
  .noticia-secundaria a{
    font-size: 0.9em;
  
  }
  .videos{
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .videos-grid{
    width: 100%;
  }
    
  .videos-grid-info a{
    font-size: 0.8em;
    padding-bottom: 0.7em;
  }

	.copy-section p {
		font-size: 0.9em;
		line-height: 1.9em;
	}
	.copy-section {
		padding: 1.7em 0;
	}

}
